[submodule "themes/hugo-astatine-theme"]
	path = themes/hugo-astatine-theme
	url = https://github.com/hugcis/hugo-astatine-theme
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "themes/etch"]
	path = themes/etch
	url = https://github.com/LukasJoswiak/etch.git
